.page-header {
	/*background: url('https://cdn.rawgit.com/creativetimofficial/paper-kit/bootstrap4-development/assets/img/antoine-barres.jpg');*/
	background: url('./paul-carmona-391531-unsplash.jpg');
	background-size: cover;	
	background-position: center;
}